<header class="p-pay-liked-header">
	<div class="container">
		<aside class="fl p-pay-liked-header__aside">
			<button type="button" class="btn">Создать список</button>
		</aside>

		<div class="p-pay-liked-header__body">
			<p>Добавив товар в «Избранное», вы можете самостоятельно управлять его содержимым и формировать собственные списки, например, «Купить после зарплаты» или «В подарок», или какие угодно ещё.</p>
			<p>Вы можете перейти на страницу какого-либо товара (из уже добавленных в избранное) для демонстрации возможности добавления/удаления в избранное.</p>
			<p>Для того, что бы добавить товары в раздел «Избранное», перейдите в на страницу нужного товара и нажмите на  Добавить в избранное , в окне Товар в избранном  появится количество товара в избранном.</p>
		</div>
	</div>
</header>
