<!DOCTYPE html>
<html>
<head>
	<title>VSM – Доставка воды</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body style="background-color: #2893e0;">
	<style>
		ul {
			color: #ffffff;
		}

		li {
			margin-bottom: 5px;
		}

		a {
			color: #ffffff;
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}

		a:hover {
			border-bottom-color: #ffffff;
		}
	</style>
	<ul>
		<li><a href="http://canvaskisa.gitlab.io/vsm/">Главная</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/contacts.html">Контакты</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/cooler.html">Страница кулера</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/product.html">Страница товара</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/pricelist.html">Прайслист</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/recalls.html">Отзывы</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/sale.html">Страница акции</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/sales.html">Страница акций</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/post.html">Страница новости</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/orders.html">Заказы</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/profile.html">Профиль</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/pay2.html">Оформление заказа</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/liked.html">Избранное</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/cart.html">Корзина</a></li>
		<li> <a href="http://canvaskisa.gitlab.io/vsm/search.html">Поиск</a></li>
	</ul>
</body>
</html>
