<form class="p-pricelist-categories" action="/" method="GET">
	<h2>Прайс лист по категориям</h2>

	<div class="container">
		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<input id="c-1" type="radio" class="m-radio-input" value="1" name="category"/>
			<label for="c-1" class="m-radio-label">Вода 19 литров</label>
		</fieldset>

		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<input id="c-2" type="radio" class="m-radio-input" value="2" name="category"/>
			<label for="c-2" class="m-radio-label">Вода 5-10 литров</label>
		</fieldset>

		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<input id="c-3" type="radio" class="m-radio-input" value="3" name="category"/>
			<label for="c-3" class="m-radio-label">Минеральная вода</label>
		</fieldset>
	</div>

	<div class="container">
		<label class="m-label">Кулеры</label>

		<div class="container">
			<fieldset class="fl m-fieldset m-fieldset--w-1">
				<input id="co-1" type="radio" class="m-radio-input" value="1" name="coolers"/>
				<label for="co-1" class="m-radio-label">Aqua Well</label>
			</fieldset>

			<fieldset class="fl m-fieldset m-fieldset--w-1">
				<input id="co-2" type="radio" class="m-radio-input" value="2" name="coolers"/>
				<label for="co-2" class="m-radio-label">Ael</label>
			</fieldset>

			<fieldset class="fl m-fieldset m-fieldset--w-1">
				<input id="co-3" type="radio" class="m-radio-input" value="3" name="coolers"/>
				<label for="co-3" class="m-radio-label">Ecotronic</label>
			</fieldset>

			<fieldset class="fl m-fieldset m-fieldset--w-1">
				<input id="co-4" type="radio" class="m-radio-input" value="4" name="coolers"/>
				<label for="co-4" class="m-radio-label">HotFrost</label>
			</fieldset>

			<fieldset class="fl m-fieldset m-fieldset--w-1">
				<input id="co-5" type="radio" class="m-radio-input" value="5" name="coolers"/>
				<label for="co-5" class="m-radio-label">BioFamily</label>
			</fieldset>

			<fieldset class="fl m-fieldset m-fieldset--w-1">
				<input id="co-6" type="radio" class="m-radio-input" value="6" name="coolers"/>
				<label for="co-6" class="m-radio-label">BioRay</label>
			</fieldset>

			<fieldset class="fl m-fieldset m-fieldset--w-1">
				<input id="co-7" type="radio" class="m-radio-input" value="7" name="coolers"/>
				<label for="co-7" class="m-radio-label">Все напольные</label>
			</fieldset>

			<fieldset class="fl m-fieldset m-fieldset--w-1">
				<input id="co-8" type="radio" class="m-radio-input" value="8" name="coolers"/>
				<label for="co-8" class="m-radio-label">Все настольные</label>
			</fieldset>
		</div>
	</div>

	<button type="submit">Установить</button>
	<button type="reset">Снять</button>
</form>
