<form action="/" method="GET" class="p-pricelist-header-form">
	<h1 class="p-pricelist-title">Прайслист</h1>

	<div class="container m-fieldset-container">
		<fieldset class="fl m-fieldset m-fieldset--w-2">
			<label class="m-label db" for="p-pricelist-name">Название</label>
			<input type="text" id="p-pricelist-name" class="m-input m-input--text"/>
		</fieldset>

		<fieldset class="fl m-fieldset m-fieldset--w-3">
			<label class="m-label db" for="p-pricelist-category">Раздел</label>
			<select id="p-pricelist-category" class="m-input m-input--select db">
				<option value="1">Выбрать</option>
				<option value="2">Архыз</option>
				<option value="3">Школьник</option>
			</select>
		</fieldset>
	</div>

	<div class="container m-fieldset-container">
		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<label class="m-label db">19 литров</label>
			<select class="m-input m-input--select db">
				<option value="1">Выбрать</option>
				<option value="2">Архыз</option>
				<option value="3">Школьник</option>
			</select>
		</fieldset>

		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<label class="m-label db">5 литров</label>
			<select class="m-input m-input--select db">
				<option value="1">Выбрать</option>
				<option value="2">Архыз</option>
				<option value="3">Школьник</option>
			</select>
		</fieldset>

		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<label class="m-label db">5 литров</label>
			<select class="m-input m-input--select db">
				<option value="1">Выбрать</option>
				<option value="2">Архыз</option>
				<option value="3">Школьник</option>
			</select>
		</fieldset>

		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<label class="m-label db">Тип установки</label>
			<select class="m-input m-input--select db">
				<option value="1">Выбрать</option>
				<option value="2">Архыз</option>
				<option value="3">Школьник</option>
			</select>
		</fieldset>

		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<label class="m-label db">Тип охлаждения</label>
			<select class="m-input m-input--select db">
				<option value="1">Выбрать</option>
				<option value="2">Архыз</option>
				<option value="3">Школьник</option>
			</select>
		</fieldset>

		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<label class="m-label db">Цена</label>
			<div class="m-price-inputs">
				<input class="m-input" type="number"/>
				<span>по</span>
				<input class="m-input" type="number"/>
			</div>
		</fieldset>
	</div>
</form>
