<div class="p-pricelist-list-container">
	<header class="p-pricelist-header container container--small">
		<h4>Наименование</h4>
		<h4>Цена</h4>
	</header>

	<ul class="p-pricelist-list">
		<li class="p-pricelist-list-item">
			<div class="container container--small">
				<div class="fl"><a href="/">Vittel / Виттель Панда 0,33 л. без газа (8 шт)</a></div>
				<div class="fl">705,00 руб</div>
				<div class="fl">
					<a class="btn" href="/">В корзину</a>
					<button type="button">Купить</button>
				</div>
			</div>
		</li>
		<li class="p-pricelist-list-item">
			<div class="container container--small">
				<div class="fl"><a href="/">Vittel / Виттель Панда 0,33 л. без газа (8 шт)</a></div>
				<div class="fl">705,00 руб</div>
				<div class="fl">
					<a class="btn" href="/">В корзину</a>
					<button type="button">Купить</button>
				</div>
			</div>
		</li>
		<li class="p-pricelist-list-item">
			<div class="container container--small">
				<div class="fl"><a href="/">Vittel / Виттель Панда 0,33 л. без газа (8 шт)</a></div>
				<div class="fl">705,00 руб</div>
				<div class="fl">
					<a class="btn" href="/">В корзину</a>
					<button type="button">Купить</button>
				</div>
			</div>
		</li>
	</ul>
</div>
