<div class="m-paging p-pricelist-paging">
	<span class="prev inactive">назад</span>
	<a href="/" class="active">1</a>
	<a href="/">2</a>
	<a href="/">3</a>
	<a href="/">4</a>
	<a href="/">5</a>
	<span>...</span>
	<a href="/">23</a>
	<a href="/" class="next">вперед</a>
</div>
