<section class="p-product-certificates">
	<h2 class="p-product-title">{{product.certificates.title}}</h2>

	<ul class="p-product-certificates__list">
		{{#each product.certificates.items as |item|}}
			<li class="p-product-certificates__list-item fl">
				<img src="{{item}}" alt="" title=""/>
			</li>
		{{/each}}
	</ul>
</section>
