<div class="p-product-comments">
	<h2 class="p-product-title">{{comments.title}}</h2>

	{{#if comments.registered}}
		<form action="/comment" method="POST" class="p-product-comments__form">
			<fieldset class="p-product-comments__form-fieldset">
				<h2 class="p-product-comments__form-title">Вера Тимакова</h2>
				<textarea required name="comment" placeholder="Оставьте комментарий" class="p-product__form-textarea"></textarea>
			</fieldset>

			<button type="submit" class="p-product-comments__form-submit">Отправить</button>
		</form>
	{{else}}
		<header class="p-product-comments__unauthorized">
			<p>Оставлять комментарии могут только зарегистрированные пользователи</p>
			<a href="/signup">Зарегестрироваться</a>
		</header>
	{{/if}}

	<ul class="p-product-comments__list">
		{{#each comments.items as |comment|}}
			<li class="p-product-comment">
				<header class="p-product-comment__header">
					<h2 class="p-product-comment__user">{{comment.user}}</h2>
					<time class="p-product-comment__time">{{comment.date}}</time>

					<button type="button" class="p-product-comment__minus"></button>
					<button type="button" class="p-product-comment__plus"></button>
					<strong class="p-product-comment__rate {{#if (gte comment.rate 0)}}greater{{else}}lower{{/if}}">{{comment.rate}}</strong>
				</header>

				<p class="p-product-comment__text">{{comment.text}}</p>
			</li>
		{{/each}}
	</ul>
</div>
