<div class="p-index-products-list clrfx">
	{{#each products.items as |product|}}
		<article class="p-index-products-list__item fl">
			<a href="/" class="p-index-products-list__link"></a>

			<figure class="p-index-products-list__figure fl">
				<img class="db" src="{{product.image}}" alt="{{product.title}}" title="{{product.title}}"/>
				{{> _/stars count=5}}
			</figure>

			<div class="p-index-products-list__container fl">
				<h2 class="p-index-products-list__title"><a href="/">{{product.title}}</a></h2>

				{{#each product.values as |value|}}
					<p class="p-index-prroducts-list__value">
						<strong>{{@key}}: </strong>
						<span>{{value}}</span>
					</p>
				{{/each}}

				<p class="p-index-products-list__text">{{product.description}}</p>

				<div class="p-index-products-list__wrapper">
					<h3 class="p-index-products-list__price">{{product.price}}</h3>
					{{#if ../removeable}}
						<button type="button" class="p-index-products-list__remove-btn">Удалить</button>
					{{/if}}
					<a href="/" class="p-index-products-list__button db">В корзину</a>
				</div>
			</div>
		</article>
	{{/each}}
</div>
