.p-pay-orders-table-header {
	clear: fix;
	margin-bottom: 7px;

	& strong {
		float: left;
		text: #1c1c1c 500 14px 11px;

		&:first-child {width: 95px;}
		&:nth-child(2) {width: 105px;}
		&:nth-child(3) {width: 200px;}
		&:last-child {width: 100px;}

		@media (--tablet-horizontal-only) {
			&:nth-child(3) {width: 120px;}
		}

		@media (--tablet-vertical-only) {
			width: 120px !important;
		}
	}

	@media (--mobile) {
		display: none;
	}
}

.p-pay-orders-table-items {
	& article:nth-child(2n+1) {
		background-color: #f6f6f6;
	}

	& article header {
		clear: fix;
		padding: 35px 0 25px;
	}

	& article header div {
		float: left;
		text: #2e2e2e 14px 1.4;

		&:first-child {width: 95px;}
		&:nth-child(2) {width: 105px;}
		&:nth-child(3) {width: 200px;}
		&:nth-child(4) {width: 360px; margin-right: 40px;}
		&:last-child {width: 160px;}

		@media (--tablet-horizontal-only) {
			&:nth-child(3) {width: 120px;}
		}

		@media (--tablet-vertical-only) {
			&:first-child {width: 120px;}
			&:nth-child(2) {width: 120px;}
			&:nth-child(3) {width: 120px;}
			&:nth-child(4) {width: 160px; margin-right: 20px;}
			&:last-child {width: 120px;}
		}

		@media (--mobile) {
			float: none;
			width: 100% !important;
			padding: 0 20px;

			&:not(:first-child) {
				margin-top: 30px;
			}

			&:first-child::before {
				content: 'Номер';
				display: block;
				text: #1c1c1c 500 14px 1.8;
			}

			&:nth-child(2)::before {
				content: 'Сумма';
				display: block;
				text: #1c1c1c 500 14px 1.8;
			}

			&:nth-child(3)::before {
				content: 'Статус';
				display: block;
				text: #1c1c1c 500 14px 1.8;
			}

			&:nth-child(4)::before {
				content: 'Товар';
				display: block;
				text: #1c1c1c 500 14px 1.8;
			}
		}
	}

	& article header p {
		margin: 0;

		& small {
			text: #9b9b9b 14px 1.4;
		}
	}

	& article header a {
		text-decoration: none;
		text: #2893e0 500 14px 11px;
	}

	& article header button {
		display: block;
		size: 160px 40px;
		border-radius: 2px;
		border: 1px solid #dcdcdc;
		text: #000000 800 center 14px 38px nowrap;

		&:first-child {
			margin-bottom: 19px;
		}

		&:last-child:not(:first-child) {
			color: #2893e0;
		}

		@media (--tablet-vertical-only) {
			width: 100%;
		}

		@media (--mobile) {
			width: 46.42%;
			float: left;

			&:not(:last-child) {
				margin-right: 7.142%;
			}
		}
	}
}

.p-orders-table-item {
	margin: 0;
	list-style: none;
	padding: 35px 0 0;
	border-top: 1px solid #e2e2e2;
	font-size: 0;
	overflow: hidden;

	& li {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 35px;

		@media (--desktop-min) {
			width: 160px;

			&:not(:nth-child(5n)) {
				margin-right: 40px;
			}
		}

		@media (--tablet-horizontal-only) {
			width: 280px;

			&:not(:nth-child(3n)) {
				margin-right: 40px;
			}
		}

		@media (--tablet-vertical-only) {
			width: 200px;

			&:not(:nth-child(3n)) {
				margin-right: 40px;
			}
		}

		@media (--mobile) {
			width: 100%;
			padding: * 20px;
			display: block;
		}
	}

	& li strong {
		display: block;
		text: #1c1c1c 500 14px 11px;
	}

	& li span {
		display: block;
		margin-top: 15px;
		text: #2e2e2e 14px 11px;
	}
}
