.p-cooler-header {
	@media (--mobile) {
		padding: 0 20px;

		& .m-label {
			display: block;
		}
	}
}

.p-cooler-title {
	margin: 0 0 40px;
	padding-top: 60px;
	text: #1c1c1c 800 45px;

	@media (--mobile) {
		text: 28px 28px;
		padding-top: 25px;
		margin-bottom: 20px;
	}
}

.p-cooler-form {
	& > .m-fieldset:first-child {
		margin-bottom: 30px;
	}

	& > [type="submit"] {
		display: inline-block;
		vertical-align: top;
		size: 160px 40px;
		border-radius: 2px;
		background-color: #2893e0;
		overflow: hidden;
		margin-right: 40px;
		text: #ffffff 800 center 14px 40px nowrap;
	}

	& > [type="reset"] {
		display: inline-block;
		vertical-align: top;
		size: 160px 40px;
		border-radius: 2px;
		overflow: hidden;
		border: 1px solid #dcdcdc;
		text: #a9a9a9 800 center 14px 40px nowrap;
	}


	@media (--mobile) {
		white-space: nowrap;
		font-size: 0;

		& > [type="submit"],
		& > [type="reset"] {
			width: 45%;
		}

		& > [type="submit"] {
			margin-right: 10%;
		}
	}
}

.p-cooler-container {
	max-width: 660px;
}

.p-cooler-help {
	background-color: #f2f2f2;
	padding: 50px 0;
	margin-top: 70px;

	@media (--mobile) {
		padding: 30px 20px;
	}

	& h2 {
		text: #1c1c1c 45px 45px;
		padding-bottom: 40px;
		border-bottom: 1px solid #dcdcdc;
		margin: 0 0 50px;

		@media (--mobile) {
			text: 28px 28px;
			margin-bottom: 20px;
			padding-bottom: 20px;
		}
	}

	& strong {
		display: block;
		text: #2e2e2e 500 17px 1.5;

		@media (--mobile) {
			text: 14px 20px;
		}
	}

	& p {
		margin: 0;
		text: #2e2e2e 17px 1.5;
		margin-bottom: 30px;

		&:nth-child(2),
		&:last-child {
			margin-bottom: 0;
		}

		@media (--mobile) {
			text: 14px 20px;
			margin-bottom: 20px;
		}
	}

	& hr {
		border: 0;
		margin: 10px 0;
		display: block;
		height: 1px;
		background-color: #dcdcdc;
	}
}

.p-cooler-advantages {
	background-color: #e5e5e5;
	padding: 60px 0;

	@media (--mobile) {
		padding: 30px 20px;
	}

	& h4 {
		margin: 0 0 23px;
		text: #2e2e2e 300 25px 25px;

		@media (--mobile) {
			text: 20px;
		}
	}

	& p {
		margin: 0;
		text: #2e2e2e 17px 1.5;

		@media (--mobile) {
			text: 14px 20px;
		}
	}

	& img {
		max-width: 100%;
		display: block;

		@media (--mobile) {
			margin: 0 auto;
		}
	}

	& .p-cooler-advantages-list {
		margin-top: 45px;

		@media (--mobile) {
			margin-top: 30px;
		}
	}

	& .p-cooler-advantage {
		float: left;
		width: 33.33333%;
		padding-right: 30px;

		@media (--mobile) {
			padding-right: 0;
			float: none;
			width: 100%;
			text-align: center;

			&:not(:last-child) {
				margin-bottom: 25px;
			}

			& h4 {
				margin-bottom: 10px;
			}
		}

		& > div {
			height: 85px;
			margin-bottom: 25px;

			@media (--mobile) {
				margin: 0 auto 10px;
			}
		}
	}
}

.p-cooler-description {
	background-color: #f2f2f2;
	padding: 50px 0;

	@media (--mobile) {
		padding: 30px 20px;
	}

	& p {
		margin: 0;
		text: #2e2e2e 17px 25px;

		&:not(:last-child) {
			margin-bottom: 25px;
		}

		@media (--mobile) {
			text: 14px 20px;

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	& article {
		height: 120px;
		border: 1px solid #dcdcdc;
		background-color: #ffffff;
		position: relative;
		padding-left: 160px;
		overflow: hidden;
		margin-bottom: 30px;

		@media (--mobile) {
			padding: 0 20px 30px;
			height: auto;
		}

		& a {
			display: block;
			size: 100%;
			text-decoration: none;
		}

		& h6 {
			margin: 0;
			text: #2e2e2e 300 25px 120px;

			@media (--mobile) {
				text: center 24px 24px;
			}
		}

		& figure {
			size: 160px;
			display: block;
			position: absolute 50% * * 0;
			transform: translateY(-50%);

			@media (--mobile) {
				position: relative;
				transform: none;
				margin: 0 auto;
			}
		}

		& img {
			max-width: 100%;
			display: block;
			position: absolute 50% * * 50%;
			transform: translate(-50%, -50%);
		}
	}

	& h5 {
		margin: 30px 0;
		text: #2e2e2e 500 uppercase 17px 25px;

		@media (--mobile) {
			margin: 15px 0;
			text: 14px 20px;
		}
	}

	& ul {
		padding-left: 0;
		list-style: inside;
	}

	& li {
		text: #2e2e2e 17px 25px;

		@media (--mobile) {
			text: 14px 20px;
		}
	}
}

.p-cooler-rent {
	background-color: #e5e5e5;
	padding: 70px 0;

	@media (--mobile) {
		padding: 30px 20px;
	}

	& + .l-footer {
		margin-top: 0;
	}

	& h2 {
		margin: 0 0 55px;
		text: #2e2e2e 300 25px 25px;

		@media (--mobile) {
			text: 20px 20px;
			margin-bottom: 20px;
		}
	}

	& article {
		width: 50%;
		margin-bottom: 60px;

		@media (--mobile) {
			width: 100%;
			float: none;
			margin-bottom: 30px;
		}
	}

	& h3 {
		margin: 0 0 15px;
		text: #2e2e2e 45px 45px;

		@media (--mobile) {
			text: 24px 24px;
			margin-bottom: 5px;
		}
	}

	& small {
		display: block;
		text: #343434 17px 17px;

		@media (--mobile) {
			text: 14px 14px;
		}
	}

	& p {
		margin: 0;
		text: #747474 17px 1.5;

		&:not(:last-child) {
			margin-bottom: 25px;
		}

		@media (--mobile) {
			text: 14px 20px;

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}
