.m-popup {
	position: fixed 0 * * 0;
	z-index: 8020;
	size: 100%;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	display: none;

	&.active {
		display: flex;
	}

	@media (--mobile) {
		&.active {
			display: block;
		}
	}
}

.m-popup__overlay {
	position: fixed 0 * * 0;
	size: 100%;
	z-index: 100;
	background-color: #000000;
	opacity: .6;
}

.m-popup__container {
	background-color: #ffffff;
	position: relative;
	z-index: 200;
	padding: 35px;
	max-width: 500px;

	@media (--mobile) {
		min-height: 100%;
		padding: 20px;
	}
}

.m-popup__close {
	size: 22px;
	position: absolute 10px 10px * *;
	fill: #1c1c1c;
	transition: fill .3s ease 0s;

	&:hover {
		fill: #2893e0;
	}
}

.m-popup__controls {
	white-space: nowrap;
	font-size: 0;
	margin-bottom: 30px;

	& button {
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		text: #808080 800 14px 14px .06em;

		&:first-child:not(:only-child) {
			padding-right: 8px;
			margin-right: 8px;
			border-right: 1px solid #e3e4e6;
		}

		&.active {
			color: #1c1c1c;
		}
	}
}

.m-popup__form {
	& input {
		margin-bottom: 10px;
	}

	& footer {
		white-space: nowrap;
		font-size: 0;
	}

	& [type="submit"] {
		display: inline-block;
		vertical-align: top;
		size: 160px 40px;
		border-radius: 2px;
		overflow: hidden;
		background-color: #2893e0;
		text: #ffffff 800 center 14px 40px nowrap;

		@media (--mobile) {
			&:not(.big) {
				width: 140px;
			}
		}
	}

	& .forgotten {
		display: inline-block;
		vertical-align: top;
		margin-left: 18px;
		text: #808080 14px 40px nowrap;
	}

	& p {
		text: #808080 14px 20px;
		margin: 0 0 15px;
	}
}
