.p-pricelist-title {
	margin: 0 0 40px;
	padding-top: 60px;
	text: #1c1c1c 800 45px;

	@media (--mobile) {
		text: 28px 28px;
		padding-top: 25px;
		margin-bottom: 20px;
	}
}

.p-pricelist-paging {
	margin: 60px auto;

	@media (--mobile) {
		margin: 30px auto;
	}
}

.p-pricelist-categories {
	margin-top: 30px;

	& > h2 {
		margin: 0 0 35px;
		padding-bottom: 15px;
		text: #1c1c1c 21px 21px;
		border-bottom: 1px solid #e2e2e2;
	}

	& > .container:last-of-type {
		border-bottom: 1px solid #e2e2e2;
		margin-bottom: 35px;
	}

	& > [type="submit"] {
		display: inline-block;
		vertical-align: top;
		size: 160px 40px;
		border-radius: 2px;
		background-color: #2893e0;
		overflow: hidden;
		margin-right: 40px;
		text: #ffffff 800 center 14px 40px nowrap;
	}

	& > [type="reset"] {
		display: inline-block;
		vertical-align: top;
		size: 160px 40px;
		border-radius: 2px;
		overflow: hidden;
		border: 1px solid #dcdcdc;
		text: #a9a9a9 800 center 14px 40px nowrap;
	}

	@media (--tablet-horizontal-only) {
		& .m-fieldset--w-1 {
			width: 280px;
			margin-right: 40px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}

	@media (--tablet-vertical-only) {
		& .m-fieldset--w-1 {
			width: 200px;
			margin-right: 40px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}

	@media (--mobile) {
		padding: * 20px;
		white-space: nowrap;
		font-size: 0;

		& > [type="submit"],
		& > [type="reset"] {
			width: 45%;
		}

		& > [type="submit"] {
			margin-right: 10%;
		}
	}
}

.p-pricelist-list {
	padding: 0;
	margin: 0;
	list-style: none;

	@media (--mobile) {
		margin-top: 35px;
	}
}

.p-pricelist-header-form {
	@media (--desktop-min) {
		& .m-fieldset--w-1:last-child {
			margin-top: 35px;
		}
	}

	@media (--tablet-horizontal-only) {
		& .m-fieldset--w-2,
		& .m-fieldset--w-3 {
			width: 440px;
		}

		& .m-fieldset--w-1 {
			width: 280px;
			margin-right: 40px;
			margin-bottom: 35px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}

	@media (--tablet-vertical-only) {
		& .m-fieldset--w-2,
		& .m-fieldset--w-3 {
			width: 320px;
		}

		& .m-fieldset--w-1 {
			width: 200px;
			margin-right: 40px;
			margin-bottom: 35px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}

	@media (--mobile) {
		padding: * 20px;
	}
}

.p-pricelist-header {
	margin: 115px * 25px;

	& h4 {
		margin: 0;
		float: left;
		text: #1c1c1c 500 14px 14px;
	}

	& h4:first-child {
		width: 400px;

		@media (--tablet-vertical-only) {
			width: 360px;
		}
	}

	@media (--mobile) {
		display: none;
	}
}

.p-pricelist-list-item {
	height: 100px;
	padding: 34px 0 0;

	@media (--tablet-vertical-only) {
		height: 160px;
	}

	@media (--mobile) {
		height: auto;
		padding: * 20px 30px;
	}

	&:nth-child(2n+1) {
		background-color: #f6f6f6;
	}

	& > div > div:first-child {
		width: 360px;
		margin-right: 40px;

		@media (--tablet-vertical-only) {
			width: 320px;
		}

		& a {
			text-decoration: none;
			text: #2893e0 500 14px;
		}

		@media (--mobile) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;

			&::before {
				content: 'Наименование';
				display: block;
				margin-bottom: 5px;
				text: #1c1c1c 500 14px 14px;
			}
		}
	}

	& > div > div:nth-child(2) {
		width: 190px;
		margin-right: 20px;
		text: #000000 14px;

		@media (--tablet-horizontal-only) {
			width: 160px;
		}

		@media (--tablet-vertical-only) {
			width: 120px;
			margin-right: 40px;
		}

		@media (--mobile) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;

			&::before {
				content: 'Цена';
				display: block;
				margin-bottom: 5px;
				text: #1c1c1c 500 14px 14px;
			}
		}
	}

	& > div > div:last-child {
		width: 350px;
		font-size: 0;

		@media (--tablet-horizontal-only) {
			width: 340px;
		}

		@media (--tablet-vertical-only) {
			width: 160px;
		}

		@media (--mobile) {
			width: 100%;
		}

		& .btn {
			display: inline-block;
			vertical-align: top;
			size: 160px 40px;
			border: 1px solid #dcdcdc;
			border-radius: 2px;
			overflow: hidden;
			text-decoration: none;
			margin-right: 20px;
			text: #2893e0 800 center 14px 38px nowrap;

			@media (--tablet-vertical-only) {
				margin-right: 0;
				margin-bottom: 20px;
			}

			@media (--mobile) {
				width: 45%;
				margin-right: 10%;
			}
		}

		& button {
			display: inline-block;
			vertical-align: top;
			size: 160px 40px;
			border: 1px solid #dcdcdc;
			border-radius: 2px;
			overflow: hidden;
			text-decoration: none;
			text: #b4b4b4 800 center 14px 38px nowrap;

			@media (--mobile) {
				width: 45%;
			}
		}
	}
}
