.p-index-sale {
	background-color: #e7e9eb;
	position: relative;
	overflow: hidden;
	margin: 40px *;
	height: 340px;

	@media (--tablet-only) {
		max-width: 100%;
	}

	@media (--mobile) {
		margin: 10px *;
		height: auto;
	}
}

.p-index-sale__wrapper {
	position: relative;
	height: 100%;

	&::after {
		content: '';
		z-index: 100;
		display: block;
		size: 75% 100%;
		position: absolute * * -50% -25%;
		background: radial-gradient(ellipse at center, rgba(162, 202, 231, 1) 0%, rgba(162, 202, 231, 1) 15%, rgba(125, 185, 232, 0) 70%);

		@media (--mobile) {
			display: none;
		}
	}

	@media (--tablet-vertical-only) {
		max-width: 100%;
	}

	@media (--mobile) {
		padding: 25px 20px 30px;
	}
}

.p-index-sale__image {
	z-index: 200;
	max-width: 400px;
	position: absolute * * -90px 70px;

	@media (--tablet-vertical-only) {
		left: 0;
		transform: translateX(-50%);
	}

	@media (--mobile) {
		position: static;
		max-width: 120px;
		margin: 0 auto;

		& img {
			max-width: 100%;
		}
	}
}

.p-index-sale__container {
	z-index: 300;
	position: relative;
	padding-top: 70px;
	padding-left: 400px;
	padding-right: 20px;

	@media (--tablet-horizontal-only) {
		padding-left: 350px;
		padding-top: 55px;
	}

	@media (--tablet-vertical-only) {
		padding-left: 165px;
		padding-top: 55px;
	}

	@media (--mobile) {
		padding: 0;
		text-align: center;
	}
}

.p-index-sale__caption {
	margin: 0;
	color: var(--color-main);
	text: 800 uppercase 12px 12px .7px nowrap;

	@media (--mobile) {
		margin-top: 20px;
	}
}

.p-index-sale__title {
	margin: 15px 0;
	color: var(--color-dark);
	text: 800 45px;

	@media (--mobile) {
		text: 21px 1.2;
		margin: 7px 0 20px;
	}
}

.p-index-sale__description {
	color: #363636;
	margin: 0 0 55px;
	text: 20px 1.2;

	@media (--tablet-only) {
		margin-bottom: 25px;
	}

	@media (--mobile) {
		text: 14px 1.4;
		margin-bottom: 22px;
	}
}

.p-index-sale__button {
	height: 40px;
	padding: 0 22px;
	border-radius: 2px;
	text-decoration: none;
	text: #ffffff 800 center 14px 40px;
	background-color: var(--color-main);
	transition: background-color .3s ease 0s;

	&:hover {
		background-color: var(--color-dark);
	}
}
