.p-index-sales {
	margin: 40px *;
}

.p-index-sales__item {
	size: 260px 400px;
	text-align: center;
	position: relative;
	border: 1px solid;
	border-color: var(--color-border-light);
	transition: border-color .3s ease 0s;

	&:hover {
		border-color: var(--color-main);
	}

	@media (--tablet-vertical-min) {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	@media (--tablet-horizontal-max) {
		size: 200px 355px;
		border: 0;
		border-radius: 0 0 2px 2px;
		box-shadow: 0 0 0 1px var(--color-border-light) inset;
	}

	@media (--tablet-vertical-only) {
		display: none;

		&:nth-child(3) {
			margin-right: 0;
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			display: block;
		}
	}

	@media (--mobile) {
		size: 200px 355px;
		margin: 0 auto;
		float: none;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

.p-index-sales__link {
	position: absolute 0 * * 0;
	size: 100%;
	z-index: 100;
}

.p-index-sales__sale {
	margin: 0;
	padding: 19px 0;
	color: var(--color-main);
	text: 800 uppercase 12px 10px .7px nowrap;
}

.p-index-sales__image {
	position: absolute 50% * * 50%;
	transform: translate(-50%, -50%);
	max-width: 220px;
	margin-top: -30px;
}

.p-index-sales__container {
	width: 100%;
	padding: 0 0 20px;
	position: absolute * * 0 0;

	@media (--tablet-horizontal-max) {
		padding: 0;
	}
}

.p-index-sales__title {
	margin: 0;
	color: var(--color-dark);
	text: 800 21px 21px;

	@media (--tablet-horizontal-max) {
		padding: 0 20px;
	}
}

.p-index-sales__button {
	display: block;
	size: 180px 40px;
	border-radius: 2px;
	margin: 13px auto 0;
	position: relative;
	z-index: 200;
	background-color: var(--color-main);
	text: #ffffff 800 0;
	transition: background-color .3s ease 0s;
	will-change: background-color;

	&:hover {
		background-color: var(--color-dark);
	}

	& span,
	& em {
		font-size: 14px;
	}

	& span {
		padding-right: 5px;
		margin-right: 5px;
		border-right: 1px solid rgba(255, 255, 255, .1);
	}

	& em {
		font-style: normal;
	}

	@media (--tablet-horizontal-max) {
		width: 100%;
	}
}
