.p-product-aside {
	width: 260px;
	padding: 55px 20px;
	margin-right: 40px;

	@media (--tablet-only) {
		width: 200px;
		padding: * 0;
	}

	@media (--mobile) {
		float: none;
		width: 100%;
		padding: 30px 20px 0;
		margin-right: 0;
	}
}

.p-product-aside__image {
	text-align: center;
	margin: 0 0 20px;
	padding-bottom: 25px;
	position: relative;

	& .m-stars {
		bottom: 0;
	}

	& img {
		max-width: 100%;
	}
}

.p-product-aside__title {
	margin: 0;
	text: #1c1c1c 900 center 35px 35px;

	@media (--mobile) {
		text: 21px 25px;
	}
}

.p-product-aside__submit {
	display: block;
	size: 100% 40px;
	border-radius: 2px;
	overflow: hidden;
	margin: 20px 0 10px;
	transition: background-color .3s ease 0s;
	background-color: #2893e0;
	text: #ffffff 800 center 14px 40px nowrap;

	@media (--mobile) {
		margin-top: 10px;
	}
}

.p-product-aside__count-input {
	display: block;
	size: 100% 40px;
	border-radius: 2px;
	outline: 0;
	padding: 0 10px;
	overflow: hidden;
	margin: 0 0 10px;
	text: #292a2b 800 14px 40px nowrap;
	border: 1px solid #dcdcdc;
}

.p-product-aside__liked {
	display: block;
	size: 100% 40px;
	border-radius: 2px;
	border: 1px solid #dcdcdc;
	text: #2893e0 800 center 14px 40px nowrap;
}
