.p-product-body {
	padding-top: 55px;
	width: 660px;

	@media (--tablet-horizontal-only) {
		width: 680px;
	}

	@media (--tablet-vertical-only) {
		width: 440px;
	}

	@media (--mobile) {
		float: none;
		width: 100%;
		padding-top: 35px;
	}
}
