.p-product-certificates {
	margin-top: 40px;
	padding-top: 40px;
	border-top: 1px solid #dcdcdc;

	@media (--mobile) {
		margin-top: 30px;
		padding: 30px 20px *;
	}
}

.p-product-title {
	margin: 0 0 15px;
	text: #1c1c1c 500 uppercase 17px 26px;

	@media (--mobile) {
		text: 14px 20px;
	}
}

.p-product-certificates__list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.p-product-certificates__list-item {
	position: relative;
	cursor: pointer;
	size: 100px 140px;
	margin-right: 20px;
	margin-bottom: 20px;

	&::after {
		content: '';
		size: 100%;
		display: block;
		opacity: 0;
		position: absolute 0 * * 0;
		transition: opacity .3s ease 0s;
		will-change: opacity;
		background-color: #000000;
	}

	&:hover::after {
		opacity: .23;
	}
}
