.p-product-description {
	margin-top: 30px;
	padding-top: 40px;
	border-top: 1px solid #dcdcdc;

	@media (--mobile) {
		padding: 30px 20px *;
	}
}

.p-product-description__list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.p-product-description__list-item {
	width: 310px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dcdcdc;

	&:not(:nth-child(2n)) {
		margin-right: 40px;
	}

	& strong {
		text: #5e5e5e 500 uppercase 11px 18px .06em;
	}

	& span {
		text: #2e2e2e 14px 18px;
	}

	@media (--tablet-vertical-max) {
		float: none;
		width: 100%;
	}
}
