.l-footer {
	background-color: var(--color-dark);
	color: var(--color-poor);
	position: relative;
	padding-top: 45px;
	margin-top: 80px;

	@media (--mobile) {padding: * 20px;}
}

.l-footer-wrapper {
	position: relative;
}

.l-footer-info {
	@media (--desktop-min) {width: 400px;}
	@media (--tablet-only) {width: 360px;}
	@media (--mobile) {
		float: none;
		width: 100%;
		border-bottom: 1px solid #282828;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
}

.l-footer-logo {
	color: #ffffff;
	overflow: hidden;
	user-select: none;
	margin-bottom: 30px;
	font-family: var(--font-complemetary);
}

.l-footer-logo__name {
	text: 900 68px 58px nowrap;
	@media (--mobile) {text: 64px 54px -.02em;}
}

.l-footer-logo__caption {
	width: 150px;
	margin-left: 10px;
	text: 800 uppercase 27px 27px;
	@media (--mobile) {
		text: 25px 25px;
		width: 140px;
		margin-left: 5px;
	}
}

.l-footer-info__value {
	text: 12px 2.1;

	@media (--mobile) {
		text: 12px 15px;

		&:not(:last-child) {
			margin-bottom: 12px;
		}

		& strong {
			display: block;
		}
	}
}

.l-footer-container {
	margin-top: -5px;
	@media (--desktop-min) {width: 760px;}
	@media (--tablet-horizontal-only) {width: 560px;}
	@media (--tablet-vertical-only) {width: 320px;}
	@media (--mobile) {
		float: none;
		width: 100%;
		margin-top: 0;
	}
}

.l-footer-products {
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #282828;
}

.l-footer-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.l-footer-list__item {
	@media (--desktop-min) {
		width: 160px;
		margin-right: 40px;

		&:nth-child(4n) {margin-right: 0;}
		&:nth-child(4n+1) {clear: left;}
	}

	@media (--tablet-horizontal-only) {
		width: 160px;
		margin-right: 40px;

		&:nth-child(3n) {margin-right: 0;}
		&:nth-child(3n+1) {clear: left;}
	}

	@media (--tablet-vertical-only) {
		width: 140px;
		margin-right: 40px;

		&:nth-child(2n) {margin-right: 0;}
		&:nth-child(2n+1) {clear: left;}
	}

	@media (--mobile) {
		width: 50%;
		&:nth-child(2n+1) {clear: left;}
	}
}

.l-footer-products__link {
	text-decoration: none;
	color: var(--color-poor);
	text: 800 14px 1.8 nowrap;
	transition: color .3s ease 0s;

	&:hover {color: #ffffff;}
	@media (--mobile) {text: 12px 25px;}
}

.l-footer-nav__link {
	text-decoration: none;
	color: var(--color-poor);
	text: 14px 1.8;
	transition: color .3s ease 0s;

	&:hover {color: #ffffff;}
	@media (--mobile) {text: 12px 25px;}
}

.l-footer__copyright {
	size: 100% 60px;
	font-size: 12px;
	line-height: 60px;
	margin-top: 50px;
	border-top: 1px solid #282828;

	@media (--mobile) {margin-top: 20px;}
}
