<div class="p-checkout-list">
	<header>
		<span>Товар</span>
		<span>Количество</span>
		<span>Цена</span>
	</header>

	<ul>
		<li>
			<figure><img src="http://res.cloudinary.com/canvaskisa/image/upload/v1470562582/bottle_bvyirz.png"/></figure>

			<section>
				<h4>ABK</h4>
				<p class="p-index-prroducts-list__value">
					<strong>Объем: </strong>
					<span>19 л.</span>
				</p>
				<p class="p-index-prroducts-list__value">
					<strong>Производство: </strong>
					<span>Россия</span>
				</p>
				<a href="/">Подробнее</a>
			</section>

			<fieldset>
				<input class="m-input m-input--text" type="number" value="1"/>
			</fieldset>

			<h2>2 300 руб.</h2>

			<div class="buttons">
				<button type="button" class="set-aside">Отложить</button>
				<button type="button" class="remove"></button>
			</div>
		</li>

		<li>
			<figure><img src="http://res.cloudinary.com/canvaskisa/image/upload/v1470562582/bottle_bvyirz.png"/></figure>

			<section>
				<h4>ABK</h4>
				<p class="p-index-prroducts-list__value">
					<strong>Объем: </strong>
					<span>19 л.</span>
				</p>
				<p class="p-index-prroducts-list__value">
					<strong>Производство: </strong>
					<span>Россия</span>
				</p>
				<a href="/">Подробнее</a>
			</section>

			<fieldset>
				<input class="m-input m-input--text" type="number" value="1"/>
			</fieldset>

			<h2>2 300 руб.</h2>

			<div class="buttons">
				<button type="button" class="set-aside">Отложить</button>
				<button type="button" class="remove"></button>
			</div>
		</li>
	</ul>
</div>
