<figure class="p-index-preview js-index-preview">
	{{> index/_/preview/background}}

	<div class="p-index-preview__container container">
		<div class="p-index-preview__slider js-preview-slider">
			{{#each index.preview.slider as |slide|}}
				<article class="p-index-preview__slide js-preview-slider-slide clrfx" data-slide>
					<figure class="p-index-preview__image">
						<img class="db" src="{{slide.image}}" alt="{{slide.title}}" title="{{slide.title}}"/>
					</figure>

					<div class="p-index-preview__description">
						<h4 class="p-index-preview__caption">{{slide.caption}}</h4>
						<h2 class="p-index-preview__title">{{slide.title}}</h2>
						<h3 class="p-index-preview__price">{{slide.price}}</h3>
						<button type="button" class="p-index-preview__button db">В корзину</button>
					</div>
				</article>
			{{/each}}
		</div>

		<ul class="p-index-preview__pagination clrfx">
			{{#each index.preview.slider as |slide|}}
				<li class="p-index-preview__pagination-item fl">
					<button type="button" class="p-index-preview__pagination-button js-preview-slider-pagination {{#if (eq @index 0)}}active{{/if}}"></button>
				</li>
			{{/each}}
		</ul>
	</div>

	<button type="button" class="p-index-preview__prev js-preview-slider-prev db"><svg viewBox="0 0 22 22"><path d="M16 21c-.3 0-.5-.1-.7-.3L5.6 11l9.7-9.7c.4-.4 1-.4 1.4 0s.4 1 0 1.4L8.4 11l8.3 8.3c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z"/></svg></button>
	<button type="button" class="p-index-preview__next js-preview-slider-next db"><svg viewBox="0 0 22 22"><path d="M7 21c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l8.3-8.3-8.3-8.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l9.7 9.7-9.7 9.7c-.2.2-.4.3-.7.3z"/></svg></button>

	{{> _/navigation}}
</figure>

<!-- Slider -->
<script type="text/javascript">
	(function () {
		var $slider = document.querySelector('.js-preview-slider');
		var $slides = Array.prototype.slice.call(document.querySelectorAll('.js-preview-slider-slide'));
		var $next = document.querySelector('.js-preview-slider-next');
		var $prev = document.querySelector('.js-preview-slider-prev');
		var $paginations = Array.prototype.slice.call(document.querySelectorAll('.js-preview-slider-pagination'));

		var activeIndex = 0;
		var length = $slides.length;

		function handleChange() {
			$slider.style.transform = 'translateX(' + (activeIndex * 100 * -1) + '%)';
			$paginations.forEach(function ($el, i) {
				$el.classList[i === activeIndex ? 'add' : 'remove']('active');
			});
		}

		function handleNext() {
			activeIndex = Math.min(activeIndex + 1, length - 1);
			handleChange();
		}

		function handlePrev() {
			activeIndex = Math.max(activeIndex - 1, 0);
			handleChange();
		}

		function handlePagination(index) {
			return function () {
				activeIndex = index;
				handleChange();
			};
		}

		$next.addEventListener('click', handleNext, false);
		$prev.addEventListener('click', handlePrev, false);
		$paginations.forEach(function ($el, i) {
			$el.addEventListener('click', handlePagination(i), false);
		});
	})();
</script>
