.m-fieldset {
	&:not(:last-child) {
		margin-right: 40px;

		@media (--mobile) {
			margin-right: 0;
		}
	}

	&--small {
		width: 160px;
		overflow: hidden;

		& input[type="date"] {
			width: 160px;
		}

		@media (--tablet-vertical-only) {
			width: 140px;

			& input[type="date"] {
				width: 140px;
			}
		}

		@media (--mobile) {
			width: 46.42%;

			& input[type="date"] {
				width: 100%;
			}
		}
	}

	&--medium {
		width: 360px;

		@media (--tablet-horizontal-only) {
			width: 320px;
		}

		@media (--tablet-vertical-only) {
			width: 140px;
		}

		@media (--mobile) {
			width: 46.42%;
		}
	}

	@media (--mobile) {
		&:not(:nth-child(2n)) {
			margin-right: 7.142%;
		}
	}

	&--w-1 {
		width: 160px;

		@media (--desktop-min) {
			&:nth-child(5n) {
				margin-right: 0;
			}
		}

		@media (--tablet-horizontal-only) {
			width: 280px;
			margin-right: 40px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		@media (--tablet-vertical-only) {
			width: 200px;
			margin-right: 40px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		@media (--mobile) {
			width: 100%;
			margin-bottom: 15px;
			margin-right: 0 !important;
		}
	}

	&--w-2 {
		width: 360px;

		@media (--mobile) {
			width: 100%;
			margin-bottom: 15px;
			margin-right: 0 !important;
		}
	}

	&--w-3 {
		width: 560px;

		& .m-input--select {
			background-position: 97% center;
		}

		@media (--mobile) {
			width: 100%;
			margin-bottom: 15px;
			margin-right: 0 !important;
		}
	}

	&-container {
		&:not(:last-child) {
			margin-bottom: 35px;

			@media (--mobile) {
				margin-bottom: 0;
			}
		}
	}
}
