.m-price-inputs {
	white-space: nowrap;
	font-size: 0;

	& input,
	& span {
		display: inline-block;
		vertical-align: top;
	}

	& input {
		width: 60px;
		padding: 0 2px;
		appearance: none;

		@media (--tablet-vertical-only) {
			width: 80px;
		}

		@media (--mobile) {
			width: 40%;
		}
	}

	& span {
		margin: 0 7px;
		text: #1c1c1c 500 center 14px 40px;

		@media (--mobile) {
			margin: 0 0;
			width: 20%;
		}
	}
}
