<div class="p-index-sales container">
	{{#each index.sales as |sale|}}
		<article class="p-index-sales__item fl">
			<a href="/" class="p-index-sales__link db"></a>
			<h3 class="p-index-sales__sale">Скидка – {{sale.sale}}%</h3>

			<figure class="p-index-sales__image">
				<img class="db" src="{{sale.image}}" alt="{{sale.title}}" title="{{sale.title}}"/>
			</figure>

			<div class="p-index-sales__container">
				<h2 class="p-index-sales__title">{{sale.title}}</h2>

				<button type="button" class="p-index-sales__button">
					<span class="dib">В корзину</span>
					<em class="dib">{{sale.price}} руб.</em>
				</button>
			</div>
		</article>
	{{/each}}
</div>
