<div class="p-contacts-info container">
	<aside class="p-contacts-info-aside fl">
		<h1 class="p-contacts-info-aside__header">{{contacts.title}}</h1>

		<p class="p-contacts-info-aside__description">
			{{#each contacts.description as |value|}}
				<span>{{value}}</span>
			{{/each}}
		</p>

		<button type="button" class="p-contacts-info-aside__button">
			{{contacts.button}}
		</button>
	</aside>

	<div class="p-contacts-info-section fl">
		{{#each contacts.section as |items|}}
			<ul class="p-contacts-info-section__list">
				{{#each items as |item|}}
					<li class="p-contacts-info-section__list-item">
						<strong>{{item.name}}</strong>
						<span>{{{item.value}}}</span>
					</li>
				{{/each}}
			</ul>
		{{/each}}
	</div>
</div>
