<!DOCTYPE html>
<html>
<head>
	<title>VSM – Доставка воды</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body class="l-header--reversed">
	{{> _/header}}
	{{> _/navigation}}

	<form action="/" method="POST">
		<div class="container container--small">
			{{> profile/_/header}}
			{{> profile/_/info}}
			{{> profile/_/person}}
			{{> profile/_/fields}}
			{{> profile/_/socials}}
		</div>
	</form>

	{{> _/footer}}
</body>
</html>
