<div class="p-pay-profile-info clrfx">
	<h2 class="p-pay-profile-subtitle">Основная информация</h2>

	<div class="container">
		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<label class="m-label">Код</label>
			<input class="m-input" type="text" value="15339" disabled="disabled"/>
		</fieldset>

		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<label class="m-label">Дата обновления</label>
			<input class="m-input" type="text" value="05.08.2016" disabled="disabled"/>
		</fieldset>

		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<label class="m-label">Название</label>
			<input class="m-input" type="text" value="Ivan Annenkov" readonly="readonly"/>
		</fieldset>

		<fieldset class="fl m-fieldset m-fieldset--w-1">
			<label class="m-label">Тип плательщика</label>
			<input class="m-input" type="text" value="Физическое лицо" readonly="readonly"/>
		</fieldset>
	</div>
</div>
