<div class="clrfx p-pay-person-person">
	<fieldset class="fl m-fieldset m-fieldset--w-2">
		<label class="m-label">Контактное лицо</label>
		<input class="m-input" type="text" value="Иван"/>
	</fieldset>
</div>
